body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.task_style{
  display:inline-flex;
}
.img_side{
  width:50%;
}
.image_style{
  width:100%;
  margin:50px;
}
.image_style img{
  width:70%;
  text-align: center;
  margin: 30px;
}

.timer{
  text-align: center;
  
}

.bag_style{
  text-align: center;
}

.monitoring_style{
  width:25%;
  margin:50px;
}

.monitoring_style button{
  width:150px;
  height:50px;
  margin:10px;
}

.clickedBtn{
  background-color: gray;
}

.unclickedBtn{
  background-color: white;
}

.highlightRed{
  background-color:red;
}

.counting_style{
  width:25%;
  margin:50px;
}

.counting_style h1{
  text-align: center;
  margin:auto;
}

.count_btns{
  align-items: center;
  margin:auto;
}

.counting_style button{
  display:inline-flex;
  align-content: center;
  width:100px;
  height:50px;
  margin:10px;
}

.counting_style button p{  
  align-self: center;
  margin: auto;
}